{% extends 'base.html' %}
{% block style %}
{% endblock %}
{% block title %}
    Adresy
{% endblock %}
{% block content %}
    <p></p>
    <table class="table table-hover" style="background-color: #edeee4;">
        <thead>
            <tr>
                <th scope="col">Login</th>
                <th scope="col">Imię</th>
                <th scope="col">Nazwisko</th>
                <th scope="col">Data urodzenia</th>
                <th scope="col">E-mail</th>
                <th scope="col">Telefon</th>
            </tr>
        </thead>
        <tbody>
            {% for item in dane %}
                <tr>
                    <td>{{ item[2][0] }}</td>
                    <td>{{ item[1][0] }}</td>
                    <td>{{ item[1][1] }}</td>
                    <td>{{ item[1][2] }}</td>
                    <td>{{ item[1][4] }}</td>
                    <td>{{ item[1][3] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <p></p>
    <table class="table table-hover" style="background-color: #edeee4;">
        <thead>
            <tr>
                <th scope="col">Adres</th>
            </tr>
        </thead>
        <tbody>
            {% for item in adres %}
                <tr>
                    <td>{{ item }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if kbool %}
        <p></p>
        <table class="table table-hover" style="background-color: #edeee4;">
            <thead>
                <tr>
                    <th scope="col">Karta</th>
                    <th scope="col">Ważność</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>**** **** **** {{ karta[0] }}</td>
                        <td>{{ karta[1] }}</td>
                    </tr>
            </tbody>
        </table>
    {% else %}
        <a href="{{ url_for('dodaj_karte', redirect_type=num) }}" class="btn btn-primary">Dodaj kartę</a>
    {% endif %}
{% endblock %}
{% block actions %}
{% endblock %}