{% extends 'base.html' %}
{% block style %}
{% endblock %}
{% block title %}
    Koszyk
{% endblock %}
{% block content %}
    <p></p>
    <table class="table table-hover" style="background-color: #edeee4;">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Produkt</th>
                <th scope="col">Liczba artykułów</th>
                <th scope="col">Akcje</th>
            </tr>
        </thead>
        <tbody>
            {% for item in koszyk_produktow %}
                <tr>
                    <td>{{ item[0] }}</td>
                    <td>{{ item[1] }}</td>
                    <td>{{ item[2] }}</td>
                    <td>
                        <form action="{{ url_for('zmien_liczbe', produkt_id=item[0]) }}" method="POST">
                            <button type="submit" name="submit_button" value="dodaj" class="btn btn-primary">Dodaj</button>
                            <button type="submit" name="submit_button" value="odejmij" class="btn btn-danger">Odejmij</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block actions %}
{% endblock %}
